html {
  font-family: "Droid Sans", sans-serif;
  hyphens: auto;
  line-height: 140%;
  text-align: justify;
}

code, pre {
  font-family: "Droid Sans Mono", monospace;
}

body {
  max-width: 600px;
  padding: 1rem 2rem;
}

.logo {
  width: 100px;
}

h2 {
  border-bottom: 1px solid black;
  margin-top: 3rem;
  padding-bottom: 0.5ex;
}

h3 {
  margin-top: 3rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
