html {
  font-family: "Droid Sans", sans-serif;
  hyphens: auto;
  line-height: 140%;
  text-align: justify;
}

code, pre {
  font-family: "Droid Sans Mono", monospace;
}

body {
  max-width: 600px;
  padding: 1rem 2rem;
}

.logo {
  width: 100px;
}
